/* DETALHES */
.details div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    gap: 0 1rem;
}

/* TITULOS */
.details h2 {
    display: flex;
    justify-content: center;
    font-family: var(--font-family-3);
    font-size: 2.4rem;
    text-transform: capitalize;
    text-overflow: ellipsis; 

    width: 100%;

    color: var(--tertiary-color);
}
.details h3 {
    display: flex;
    font-size: 1.2rem;
    
    width: 100%;
    padding: 0.4rem 1rem;
    border-radius: 8px;

    background-color: var(--background-color-2);
}

/* INFORMAÇÕES */
.details dl {
    display: grid;
    grid-template-columns: max-content 1fr;
    font-size: 1.2rem;

    width: 100%;
    gap: 0 1rem;
}
.details dt {
    overflow: hidden;
    font-weight: bold; 
    text-indent: 1rem;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;

    color: var(--font-color-2);
}
.details dd {
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}

/* BOTÕES */
.details button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--font-family-1);
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    padding: 0.4rem 0.8rem;
    gap: 0.4rem;
    border-radius: 8px;
    
    border: 2px solid currentColor;
    color: var(--font-color);
    background: var(--background-color-2);
}
.details button:hover {
    scale: 1.1;
    color: var(--secondary-color);
}
.details button:active {
    scale: 0.9;
    color: var(--primary-color);
}
.details button :first-child {
    font-size: 1.2em;
}