/* DETALHES DA GARAGEM */
.content-vehicle main, .content-garage main {
    display: flex;
    justify-content: center;
    align-items: start;

    width: 1100px;
    max-width: 100%;
    min-height: max-content;
    padding: 12px 1vw;
    gap: 1vw;
    border-radius: 8px;

    background-color: var(--background-color);
}
.content-garage aside {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;

    width: 1100px;
    max-width: 100%;
    min-height: max-content;
    gap: 1.4vw;
    border-radius: 8px;
}
.content-garage main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: max-content;
    gap: 1em 0;
}

/* ERRO */
.content-garage .error{
    display: flex;
    font-size: 1.4rem;

    width: max-content;
    height: max-content;
    padding: 0.4rem 0.6rem;
    border-radius: 8px;

    border: 2px solid currentColor;
    color: var(--secondary-color);
    background-color: color-mix(in srgb, currentColor 30%, #FFFFFF 70%);
}