/* GRADE */
.content-grid main h2 {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;

    padding: 12px;
}

/* MAIN */
.content-grid main {
    padding: 12px 0;
}

/* FORMULÁRIO */
.content-grid main form {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    overflow-y: scroll;

    max-height: 68vh;
    padding: 12px 1vw;
    gap: 12px;
}
.content-grid main form label {
    display: flex;
    flex-direction: column;
    font-size: larger;
    font-weight: bold;
}
.content-grid main form label:first-child {
    border-top: 1px solid var(--background-color-2);
}

.content-grid main form label input, .content-grid main form label select{
    font-family: var(--font-family-2);
    font-size: medium;
    transition: all 0.5s;

    padding: 8px 6px;
    border-radius: 8px;

    border: 2px solid currentColor;
    color: var(--font-color);
    background: var(--background-color-2);
}
.content-grid main form label input:focus, .content-grid main form label select:focus {
    outline: 0;
    border: 2px ridge var(--primary-color);
}
.content-grid main form label input:disabled, .content-grid main form label select:disabled{
    opacity: 50%;
}

/* BOTÃO DE ENVIO */
.content-grid main form button {
    align-self: center;
    font-size: medium;
    font-weight: bold;
    transition: all 0.5s;
    text-transform: uppercase;

    padding: 8px 12px;
    border-radius: 8px;

    border: none;
    background: linear-gradient(0deg, var(--primary-color) 0%, var(--secondary-color) 50%, var(--button-color) 100%);
}
.content-grid main form button:hover {
    filter: brightness(150%);
}
.content-grid main form button:active {
    filter: brightness(50%);
}
.content-grid main form button:disabled {
    filter: brightness(50%);
    
    color: var(--font-color);
    background: var(--background-color-2);
}

/* ASIDE */
.content-grid aside {
    padding: 12px;
    gap: 12px;
}

/* FILTRO DA TABELA*/
.content-grid aside div {
    display: flex;
    align-content: center;
    text-align: center;
    font-size: large;
    font-weight: bold;

    padding: 12px 1vw;
    border-radius: 8px;
    gap: 8px;
    
    background: var(--background-color-2);
}
.content-grid aside div select {
    font-family: var(--font-family-2);
    font-size: medium;
    transition: all 0.5s;

    padding: 6px 4px;
    border-radius: 8px;

    border: 2px solid currentColor;
    color: var(--font-color);
    background: var(--background-color-2);
}

/* TABELA */
.content-grid aside table {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.content-grid aside table th, .content-grid aside table tr {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 4fr 1fr;
}
/* HEADER DA TABELA */
.content-grid aside table th {
    border-radius: 8px;

    background-color: var(--background-color-2);
}
/* LINHAS DA TABELA */
.content-grid aside table tr {
    text-align: center;
    font-size: large;
    transition: all 0.2s;

    border-bottom: 1px solid var(--background-color-2);
    background-color: var(--background-color);
}
.content-grid aside table tr:hover {
    cursor: pointer;
    filter: brightness(150%);
}
/* DADOS DA TABELA */
.content-grid aside table td {
    padding: 12px 0;
}
/* BOTÕES DE AÇÃO DA TABELA */
.content-grid aside table tr button {
    font-size: large;
    transition: all 0.2s;

    width: 50%;
    border: 0;

    color: var(--font-color);
    background: none;
}
.content-grid aside table tr button:hover {
    color: var(--font-color-2);
}