/* CONTAINER */
.container {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-1);

    min-height: 100vh;
}

/* CONTEUDO */
.content {
    display: flex;

    align-items: baseline;
    justify-content: center;
   
    width: 100vw;
    padding: calc(var(--header-height) + 16px) 16px 16px 16px;
    min-height: 100vh;
    background-image: url('../assets/GTA6_background.jpeg');
    background-size: cover;
    background-position: center;
}
.content-sign {
    background-image: url('../assets/background-2.jpg');
}
.content-garage , .content-vehicle {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    gap: 1rem;
}
/* CONTEUDO PRINCIPAL */
.content-home main, .content-settings main, .content-profile main {
    align-self: flex-start;

    min-height: 80vh;
    border-radius: 8px;

    background-color: var(--background-color);
}
.content-home main {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 12px 1vw;
    
    color: var(--font-color);
}
.content-settings main, .content-profile main {
    display: flex;
    flex-direction: column;

    min-width: 100%;
}


.content-display {
    justify-content: center;
    justify-self: center;
    align-items: start;
}
.content-display main {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 1100px;
    padding: 12px 1vw;
    gap: 0.6rem;
    border-radius: 8px;

    background-color: var(--background-color);
}

/* MODAL DE FORMULARIOS */
.content-modal {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: start;
    position: fixed;
    top: 0;
    z-index: 1000;

    width: 100%;
    height: 100%;
    padding: 1.0rem;

    backdrop-filter: blur(4px);
}
.content-modal form {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    
    border-radius: 8px ;

    min-width: 30vw;
    max-height: 100%;
    padding: 12px 1vw;
    gap: 1rem;

    box-shadow: var(--box-shadow-color) 0 4px 10px;
    background-color: var(--background-color);
}