/* CONTAINER */
.container {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-1);

    min-height: 100vh;
}

/* CONTEUDO */
.content {
    display: flex;

    align-items: baseline;
    justify-content: center;
   
    width: 100vw;
    padding: calc(var(--header-height) + 16px) 16px 0 16px;
    min-height: 100vh;
    background-image: url('../assets/GTA6_background.jpeg');
    background-size: cover;
    background-position: center;
}
.content-sign {
    background-image: url('../assets/background-2.jpg');
}
.content-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;

    gap: 12px;
}
/* CONTEUDO PRINCIPAL */
.content-home main, .content-settings main, .content-profile main, .content-vehicle main, .content-grid main, .content-grid aside {
    align-self: flex-start;

    min-height: 80vh;
    border-radius: 8px;

    background-color: var(--background-color);
}
.content-home main {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 12px 1vw;
    
    color: var(--font-color);
}
.content-settings main, .content-profile main {
    display: flex;
    flex-direction: column;

    min-width: 100%;
}
.content-vehicle main {
    display: grid;
    grid-template-columns: 1fr 1fr;

    min-width: 100%;
    padding: 12px 1vw;
    gap: 1vw;
}
.content-grid main, .content-grid aside {
    display: flex;
    flex-direction: column;
}