/* FORMATAÇÂO MOBILE */
@media (max-width: 700px) {

    /* HEADER */
    header {
        flex-direction: row;
        justify-content: space-around;
    }
    header img {
        max-height: calc(var(--header-height) / 2);
    }
    header a a:last-child {
        display: none;
    }

    /* CONTEUDO */
    .content {
        padding: calc(var(--header-height) + 4px) 2px 2px 2px;
    }
    
    /* CONTEUDO */
    .content-grid {
        display: flex;
        flex-direction: column;
        justify-content: start;

        gap: 2px;
    }
    
    /* CONTEUDO PRINCIPAL */
    .content-grid main, .content-grid aside {
        min-height: auto;
        width: 100%;
    }
    .content-vehicle main {
        display: grid;
        grid-template-columns: 1fr;
    }
}
  