.container-car {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-car {
  display: flex;
  width: 100vw;
  padding: 96px 0 0 0;
  min-height: calc(116vh - 96px);
  background-image: url('../../assets/background-1.jpg');
  background-size: cover;
  background-position: center;
}



/* MAIN */
.main-car {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  
  width: 26%;
}



/* TITLE - MAIN */
.title-car {
  align-content: center;
  text-align: center;

  height: 8vh;

  font-size: large;
  font-weight: bold;
  /* background: #0005; */
}



/* FORM - MAIN */
.form-car {
  height: 78vh;
  padding: 0 12px;
  overflow-y: scroll;
  border-top: 1px solid var(--font-color);
  /* background: #0004 */
}
.form-car form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.form-car form label select, .form-car form label input {
  padding: 0 8px;
  height: 30px;
  border-radius: 4px;
  border: 2px solid var(--font-color);
  text-shadow: 0 0 2px var(--font-color-2);
  color: var(--font-color);
  background: var(--background-color);
}
.form-car form button {
  width: 100%;
  margin: 10px 0 0 0;
  padding: 6px 0;
  font-weight: bold;
  border-radius: 4px;
  border: 2px solid var(--font-color);
  background: var(--background-color);
}



/* ASIDE */
.aside-car {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 74%;
}



/* FILTER - ASIDE */
.filter-car {
  align-content: center;
  text-align: center;
  
  height: 8vh;

  font-size: large;
  font-weight: bold;
  /* background: #0004; */
}
.filter-car div select {
  margin: 0 10px;
  padding: 0 8px;

  width: 30%;
  height: 30px;

  border-radius: 4px;
  border: 2px solid var(--font-color);
  color: var(--font-color);
  background: var(--background-color);
}



/* LIST - ASIDE */
.list-car {
  height: 78vh;
  padding: 0 12px;
  /* background: #0005; */
}
.list-car h3 {
  display: grid;
  text-align: center;
  grid-template-columns: 4% 50% 24% 12% 10%;
  border-bottom: 2px solid var(--font-color);
}
.list-car ul {
  height: 64vh;
  overflow-y: scroll;
}
.list-car ul div {
  display: grid;
  grid-template-columns: 4% 50% 24% 12% 10%;
  flex-direction: row;
  transition: all 0.5s;
  align-items: center;
  height: 40px;
}
.list-car ul div:hover {
  background-color: #ffffff44;
}
.list-car ul div a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-bottom: 1px solid var(--font-color);
}
.list-car ul div a button {
  width: 100%;
  font-size: large;
  transition: all 0.5s;
  border: 0;
  color: var(--font-color);
  background: #00000000;
}
.list-car ul div a button:hover {
  color: var(--font-color-2);
}

.colorblock {
  width: 20px;
  height: 20px;

  margin: 0 2px;

  border-radius: 4px;
  border: 1px outset var(--font-color);
}

/* .list-car {
  max-height: 72vh;
  overflow-y: scroll;
}
.list-car ul{
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style-type: none;
  padding: 0;
}

/* .list-car span{
  width: 6%;
  text-align: center;
  font-weight: bold;
  color: lightgrey;
}
.list-car span1{
  width: 36%;
  padding-inline: 14px;
}
.list-car span2{
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-content: center;
  
  width: 28%;
}
.list-car span3{
  text-align: center;
  width: 18%;
}
.list-car span4{
  width: 12%;
  text-align: center;
} */



/* MAIN - ASIDE */
.main-car, .aside-car {
  padding: 8px 0;
  margin: 20px 20px;
  height: 78vh;
  border-radius: 10px;
  color: var(--font-color);
  background: var(--transparent-background-color);
}



/* MOBILE */
@media (max-width: 768px) {
  .content-car {
    flex-direction: column;
    justify-content: flex-start;
    padding: 1vh;
  }
  .content-car aside {
    align-self: center;
    margin-left: 0vh;
    margin-top: 1vh;
    width: 100%;
  }

  .filter-car {
    margin-bottom: 1vh;
  }

  .form-car {
    max-height: 26vh;
    width: 100%;
  }

  .list-car {
    width: 100%;
    margin-top: 1vh;
    max-height: 38vh;
  }
}