.container-car {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
}

.content-car {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4vh;

  background-image: url('../../assets/aesthetic-gta-cityscape-desktop-wallpaper.jpg');
  background-size: cover;
  background-position: center;

  width: 100vw;
  min-height: calc(100vh - 64px);
}
.content-car aside {
  align-self: flex-start;

  margin-left: 4vh;

  width: 50%;
}

.form-car {
  align-self: flex-start;
  
  padding-inline: 24px;
  padding-block: 12px;

  max-height: 83vh;
  width: 26%;

  overflow-y: scroll;

  border-radius: 6px;
  color: white;
  background-color: #000000f0;
}
.form-car label {
  display: flex;
  flex-direction: column;
  
  padding-inline: 0px;
  padding-block: 2px;
}
.form-car label select {
  padding-inline: 8px;

  height: 100%;

  padding-block: 4px;

  border-radius: 4px;
}
.form-car label input {
  text-align: center; 

  margin-top: 8px;

  width: 34%;

  border-radius: 4px;
}
.form-car line {
  display: flex;
  justify-content: center;

  margin-bottom: 8px;

  color: white;
}

.filter-car {
  align-self: flex-start;
  justify-content: space-between;

  padding-inline: 12px;
  padding-block: 10px;

  margin-bottom: 4vh;

  width: 100%;

  font-weight: bold;
  font-size: large;

  border-radius: 6px;
  color: white;
  background-color: #000000f0;
}
.filter-car div {
  display: flex;
  justify-content: space-between;
}
.filter-car select {
  margin-inline: 20px;
  padding-inline: 10px;

  width: 70%;
  height: 4vh;

  border-radius: 4px;
  background-color: #000000f0;
  border: 2px solid white;
}
.filter-car a {
  text-align: center;
  width: 14%;
}

.list-car {
  align-self: flex-start;

  padding-inline: 12px;
  padding-block: 10px;

  max-height: 72vh;
  width: 100%;

  overflow-y: scroll;

  border-radius: 6px;
  color: white;
  background-color: #000000f0;
}
.list-car h3{
  display: flex;
  text-align: center;
  border-bottom: 2px solid white;
}
.list-car ul{
  display: flex;
  
  flex-direction: column;

  width: 100%;
  list-style-type: none;
  padding: 0;
}
.list-car ul :hover{
  background-color: #ffffff11;
}
.list-car ul div :hover{
  background-color: #00000000;
}
.list-car ul div{
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 6vh;

  border-bottom: 1px solid white;
}
.list-car span{
  width: 6%;
  text-align: center;
  font-weight: bold;
  color: lightgrey;
  /* background-color: #f005; */
}
.list-car span1{
  width: 36%;
  padding-inline: 14px;
  /* background-color: #0f05; */
}
.list-car span2{
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-content: center;
  
  width: 28%;
  /* background-color: #00f5; */
}
.list-car span3{
  text-align: center;
  width: 18%;
  /* background-color: #ff05; */
}
.list-car span4{
  width: 12%;
  text-align: center;
  /* background-color: #f0f5; */
}
.list-car span4 button{
  background-color: '#00000000'; 
  border-color: '#0000';
  width: 50%;
  height: 50%;
  color: white;
}
.list-car  span4 button :hover{
  color: gray;
}

.colorblock {
  width: 20px;
  height: 20px;

  margin-inline: 2px;

  border-radius: 100%;
  border: 2px outset white;
}