.container-character {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
}

.content-character {
  display: flex;
  flex-direction: column;

  padding: 4vh;

  background-image: url('../../assets/aesthetic-gta-cityscape-desktop-wallpaper.jpg');
  background-size: cover;
  background-position: center;

  width: 100vw;
  min-height: calc(100vh - 64px);
}

.form-character {
  align-self: center;
  align-content: center;

  padding-inline: 12px;
  padding-block: 6px;

  width: 60%;
  min-height: 10vh;

  border-radius: 6px;
  color: white;
  background-color: #000000f0;
}
.form-character label {
  width: 20vw;
  margin: 8px;
  padding-inline: 10px;
}
.form-character form div{
  display: 'flex'; 
  justify-content: 'center'; 
  margin-block: '8px';
}

.list-character {
  align-self: center;
  
  padding-inline: 12px;
  padding-block: 8px;
  margin-top: 4vh;

  width: 60%;
  min-height: 14vh;
  max-height: 68vh;

  overflow-y: scroll;

  border-radius: 6px;
  color: white;
  background-color: #000000f0;
}
.list-character div h3 {
  display: flex; 
  justify-content: space-between; 
  width: 100%; 
  border-bottom: 2px solid white;
}
.list-character div ul div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 8vh;

  border-bottom: 1px solid white;
}
.list-character div us :hover{
  background-color: #ffffff11;
}
.list-character div us div :hover{
  background-color: #00000000;
}
.list-character div span{
  width: 6%;
  text-align: center;
  font-weight: bold;
  color: lightgrey;
  /* background-color: #f005; */
}
.list-character div span1{
  width: 6%; 
  text-align: center;
  /* background-color: #0f05; */
}
.list-character div span2{
  width: 8%;
  padding-inline: 14px;
  /* background-color: #00f5; */
}
.list-character div span3{
  width: 18%; 
  text-align: center;
  /* background-color: #ff05; */
}
.list-character div span4{
  width: 10%;
  text-align: center;
  /* background-color: #f0f5; */
}
.list-character div span4 button{
  background-color: '#00000000'; 
  border-color: '#0000';
  width: 50%;
  height: 50%;
  color: white;
}
.list-character div span4 button :hover{
  color: gray;
}

.toastContainer{
  color: '#0f05';
}