.container-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100vh;
}

.content-home {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('../../assets/aesthetic-gta-cityscape-desktop-wallpaper.jpg');
    background-size: cover;
    background-position: center;
    
    width: 100vw;
    min-height: calc(100vh - 64px);
}
.content-home :hover {
    transform: scale(1.05);
    background-color: #111;
}
.content-home button {
    display: flex;
    justify-content: center;
    align-items: end;

    width: 30vw;
    height: 20vw;
    margin: 20px;

    font-size: x-large;
    text-decoration: none;
    
    transition: transform 0.3s ease;

    margin: 2vw;  
    padding: 10px;

    background-size: cover;
    background-position: center;

    border-radius: 8px;
    color: white;
    background-color: black;
}
.RockstarGamesLink {
    background-image: url('../../assets/rockstar.png');
}
.GTABaseLink {
    background-image: url('../../assets/gtabase-logo.png');
}