.container-home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content-home {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 100vw;
    padding: 96px 0 0 0;
    min-height: calc(116vh - 96px);
    background-image: url('../../assets/background-1.jpg');
    background-size: cover;
    background-position: center;
}



/* MAIN */
.main-home {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;

    background: #0f05;
}



/* .content-home :hover {
    transform: scale(1.05);
    background-color: #111;
}
.content-home button {
    display: flex;
    justify-content: center;
    align-items: end;

    width: 30vw;
    height: 20vw;
    margin: 20px;

    font-size: x-large;
    text-decoration: none;
    
    transition: transform 0.3s ease;
  
    padding: 10px;

    background-size: cover;
    background-position: center;

    border-radius: 8px;
    color: white;
    box-shadow: 1px 1px 10px black;
    background-color: black;
}
.RockstarGamesLink {
    background-image: url('../../assets/rockstar.png');
}
.GTABaseLink {
    background-image: url('../../assets/gtabase-logo.png');
} */



.main-home {
    padding: 8px 0;
    margin: 20px 20px;
    height: 28vh;
    border-radius: 10px;
    color: var(--font-color);
    background: var(--transparent-background-color);
  }



@media (max-width: 768px) {
    .content-home {
        flex-direction: column;
        justify-content: flex-start;
    }

    .content-home button {
        width: 90vw;
        height: 60vw;
    }
}