.container-home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content-home {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 100vw;
    padding: 96px 0 0 0;
    min-height: calc(116vh - 96px);
    background-image: url('../../assets/background-1.jpg');
    background-size: cover;
    background-position: center;
}



/* MAIN */
.main-home {
    align-self: flex-start;
    align-content: flex-end;
    width: 97%;
}

.swiper {
  margin: 0 0 10px 0;
  width: 100%;
  height: 40%;
}
.swiper-slide {
  border-radius: 10px;
  align-content: center;
  text-align: center;
  background: var(--primary-color);
}
.article-slide:hover {
  transform: scale(1.05);
}
.swiper a {
  height: 100%;
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
  color: var(--font-color);
}
.swiper a h3 {
  position: absolute;
  text-align: center;
  text-shadow: 0 0 2px var(--font-color-2);
  font-size: medium;
  bottom: 0;
  left: 0;
  right: 0;
}
.swiper a img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}



.main-home {
    padding: 8px 20px;
    margin: 20px 20px;
    height: 78vh;
    border-radius: 10px;
    color: var(--font-color);
    background: var(--transparent-background-color);
  }




@media (max-width: 768px) {
    .content-home {
        flex-direction: column;
        justify-content: flex-start;
    }

    .content-home button {
        width: 90vw;
        height: 60vw;
    }
}