footer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 64px;
    
    padding: 16px;

    background-color: black;
}

footer div {
    display: flex;
    gap: 0px;
}

footer h3 {
    margin: 0;
    color: white;
  }

footer div a {
    padding-inline: 24px;
    padding-top: 16px;

    text-decoration: none;
    font-size: large;

    height: 64px;
    
    color: white;
}

footer div a:hover {
    text-decoration: underline;

    background-color: #00000011;
}