.container-garage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-garage {
  display: flex;

  flex-direction: column;
  align-items: center;

  width: 100vw;
  padding: 96px 0 0 0;
  min-height: calc(116vh - 96px);
  background-image: url('../../assets/background-1.jpg');
  background-size: cover;
  background-position: center;
}

.filter-garage {
  display: flex;
  flex-direction: row;

  padding-inline: 12px;
  padding-block: 10px;

  margin-bottom: 4vh;

  width: 40%;

  border-radius: 6px;
  color: white;
  background-color: #000000f0;
}

.list-garage {
  padding-inline: 12px;
  padding-block: 10px;

  width: 40%;
  max-height: 64vh;

  overflow-y: scroll;

  border-radius: 6px;
  color: white;
  background-color: #000000f0;
}
.list-garage form label {
  display: flex;
  flex-direction: column;

  color: white;
}

.form-garage {
  display: flex; 
  
  padding-inline: 0px;
  padding-block: 4px;

  height: 100%;
  width: 100%;

  color: white;
  background-color: #00000000;
}

@media (max-width: 768px) {
  .content-garage {
    padding: 1vh;
  }

  .filter-garage {
    margin-bottom: 1vh;
    width: 100%;
  }

  .list-garage {
    width: 100%;
    max-height: 66vh;
  }
}