.container-garage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
}

.content-garage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4vh;

  width: 100vw;
  min-height: calc(100vh - 64px);
}

.list-garage {
  align-self: flex-start;
  
  padding-inline: 12px;
  padding-block: 10px;

  height: 100%;
  width: 32%;

  border-radius: 6px;
  color: white;
  background-color: #00000022;
}
.list-garage-imput {
  display: flex;
  flex-direction: column;

  color: white;
}

.form-garage {
  display: flex; 
  
  padding-inline: 0px;
  padding-block: 4px;

  height: 100%;
  width: 100%;

  color: white;
  background-color: #00000000;
}