/* BARRA DE BOTÕES */
.btn-bar {
    display: flex;
    flex-direction: row-reverse;
    gap: 1.0rem;
}

/* BOTÃO DE FORMULÁRIO DE ACESSO */
.sign-btn {
    font-size: 1.0rem;
    font-family: var(--font-family-1);
    transition: all 0.5s;
    text-transform: uppercase;

    width: 100%;
    padding: 8px 12px;
    border-radius: 8px;
    
    border: 0px;
    color: var(--fonts-color);
    background-color: var(--button-color);
}
.sign-btn:hover {
    filter: brightness(150%);
}
.sign-btn:active {
    filter: brightness(50%);
}
    
/* BOTÃO DE ENVIO DE FORMULÁRIO */
.form-btn {
    align-self: center;
    font-size: medium;
    font-weight: bold;
    transition: all 0.5s;
    text-transform: uppercase;

    padding: 8px 12px;
    border-radius: 8px;

    border: none;
    background: linear-gradient(135deg, #1a0033, #4b005f); 
    /* background: linear-gradient(0deg, var(--primary-color) 0%, var(--secondary-color) 50%, var(--button-color) 100%); */
}
.form-btn:hover {
    filter: brightness(150%);
}
.form-btn:active {
    filter: brightness(50%);
}
.form-btn:disabled {
    filter: brightness(50%);
    
    color: var(--font-color);
    background: var(--background-color-2);
}

/* BOTÕES DE AÇÃO DA TABELA */
.list-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.4s;

    padding: 0.2rem;
    border-radius: 8px;

    border: 0;
    color: var(--font-color);
    background: none;
}
.list-btn:hover {
    scale: 1.1;
    color: var(--secondary-color);
    background-color: var(--background-color-2);
}
.list-btn:active {
    scale: 0.9;
    color: var(--primary-color);
}

/* BOTÃO DE DETALHES */
.details-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: var(--font-family-1);
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    padding: 0.4rem 0.8rem;
    gap: 0.4rem;
    border-radius: 8px;
    
    border: 2px solid currentColor;
    color: var(--font-color);
    background: var(--background-color-2);
}
.details-btn:hover {
    scale: 1.1;
    color: var(--secondary-color);
}
.details-btn:active {
    scale: 0.9;
    color: var(--primary-color);
}
.details-btn :first-child {
    font-size: 1.2em;
}

/* BOTÃO DE FECHAR */
.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
    font-family: var(--font-family-1);
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    width: max-content;
    border-radius: 8px;

    border: 2px solid currentColor;
    color: var(--font-color);
    background: var(--background-color-2);
}
.close-btn:hover {
    scale: 1.1;
    color: var(--secondary-color);
}
.close-btn:active {
    scale: 0.9;
    color: var(--primary-color);
}

/* BOTÃO DE ADICIONAR */
.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.0rem;
    font-family: var(--font-family-1);
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    width: 2.4rem;
    height: 2.4rem;
    padding: 0.4rem 0.6rem;
    gap: 0.4rem;
    border-radius: 100px;

    border: 2px solid currentColor;
    color: var(--font-color);
    background: var(--background-color-2);
}
.add-btn:hover {
    scale: 1.1;
    width: 6.0em;
    color: var(--secondary-color);
}
.add-btn:active {
    scale: 0.9;
    color: var(--primary-color);
}
.add-btn span {
    display: none;
}
.add-btn:hover span {
    display: flex;
}