.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    transition: all 0.2s;

    height: calc(100vh - var(--header-height));
    right: 0px;
    
    margin: var(--header-height) 0 0 0;
    padding: 12px 4vw 0 12px;

    backdrop-filter: blur(20px);
    box-shadow: var(--box-shadow-color) 0 1px 4px;
    background-color: var(--header-color);
}

.dropdown a {
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    font-size: 1.0rem;
    transition: all 0.2s;

    padding: 12px;
    gap: 12px;
    border-radius: 8px;

    color: var(--font-color);
}
.dropdown a:hover {
    scale: 1.1;

    color: var(--secondary-color);
    background: var(--background-color-2);
}
.dropdown a:active {
    scale: 0.9;

    color: var(--primary-color);
}

.dropdown .iconMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;

    width: 1.4rem;
}