/* PÁGINA DE ERRO */
.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-2);
    text-align: center;

    height: 60vh;
    gap: 0.4rem;
}
/* TITULO */
.error h2 {
    font-size: 1.4rem;
    font-weight: 900;
}
/* TEXTO */
.error p {
    font-size: 1.4rem;
    font-weight: 600;
}

/* BOTÃO */
.error a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    font-weight: 600;
    transition-duration: 0.3s;
  
    width: 3rem;
    height: 3rem;
    margin: 1rem 0 0 0;
    border-radius: 1rem;
    
    border: none;
    box-shadow: 0px 0px 0px 3px var(--font-color);
    background-color: #0000;
  }
  .error a:hover {
    width: 8rem;
    transition-duration: 0.3s;
    background-color: var(--button-selected-color);
    align-items: center;
  }
  .error a::before {
    position: absolute;
    bottom: -20px;
    content: "Voltar";
    color: var(--font-color);
    font-size: 0px;
  }
  .error a:hover::before {
    font-size: 1.4rem;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.3s;
  }
  .error a .svgIcon {
    width: 1.0rem;
    transition-duration: 0.3s;
  }
  .error a .svgIcon path {
    fill: var(--font-color);
  }
  .error a:hover .svgIcon {
    transition-duration: 0.3s;
    transform: translateY(-200%);
  }