/* HEADER */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--font-family-1);
    position: fixed;
    z-index: 1;

    width: 100vw;
    height: var(--header-height);
    padding: 0 4vw;


    backdrop-filter: blur(20px);
    box-shadow: #000000 0 1px 4px;
    color: var(--font-color);
    background-color: var(--header-color);
}

/* ICONE */
header a {
    display: flex;
    justify-content: center;
    align-self: center;
    transition: all 0.5s;

    gap: 1rem;

    max-height: calc(var(--header-height) - 10px);
}
header img {
    display: flex;
    justify-content: center;
    align-self: center;
    transition: all 0.5s;

    max-height: calc(var(--header-height) - 10px);
}
header img:hover {
    scale: 1.1;
}

/* BOTÃO DE LOGIN */
.sign-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 1.0rem;

    padding: 0.4rem 0.8rem;
    gap: 0.4rem;
    border-radius: 8px;

    border: 2px solid currentColor;
    color: var(--font-color);
}
.sign-btn:hover {
    scale: 1.1;
    color: var(--secondary-color);
}
.sign-btn:active {
    scale: 0.9;
    color: var(--primary-color);
}
.sign-btn.active {
    color: var(--primary-color);
}
.sign-btn .sign-icon {
    font-size: 1.4em;
}

/* BOTÃO DE MENU */
.menu-btn {
    display: flex;
    align-items: center;
    font-size: 2.0rem;
    font-family: var(--font-family-1);
    transition: all 0.5s;

    border: 0;
    background: none;
    color: var(--font-color);
}
.menu-btn:hover {
    scale: 1.1;
    color: var(--secondary-color);
}
.menu-btn:active {
    scale: 0.9;
    color: var(--primary-color);
}