.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  min-height: calc(100vh - 64px);
}

.car-list {
  padding-inline: 12px;
  padding-block: 10px;
  margin: 4vh;

  height: 100%;
  width: 32%;

  border-radius: 6px;
  color: white;
  background-color: #00000022;
}

.car-form {
  padding-inline: 0px;
  padding-block: 4px;

  height: 100%;

  color: white;
  background-color: #00000000;
}